@using System.Globalization;
@model CategoryDTO

<div class="page-title wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-leaf bg-green"></i> Category by: @Model.CategoryName</h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                    <li class="breadcrumb-item active">@Model.CategoryName</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">
                        <div class="blog-box row">
                            @foreach (var article in Model.Articles)
                            {
                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="/article/detail/@article.Id" title="">
                                                <img src="@article.PhotoUrl" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="/category/index/@article.Category.Id" title="">@article.Category.CategoryName</a></span>
                                        <h4><a href="/article/detail/@article.Id" title="">@article.Title</a></h4>
                                        <p>@article.Content.Substring(0,100)...</p>
                                        <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> @article.Views</a></small>
                                        @{
                                            CultureInfo enCulture = new CultureInfo("en-US");
                                            string creatDate = article.CreatedDate.ToString("dd MMMM, yyyy", enCulture);
                                        }
                                        <small><a href="garden-single.html" title="">@creatDate</a></small>
                                        <small><a href="#" title="">by @article.User.FirstName</a></small>
                                    </div><!-- end meta -->
                                </div>
                                <!-- end blog-box -->
                            }
                            <hr class="invis">
                            <div class="row">
                                <div class="col-md-12">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-start">
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end col -->
                    </div><!-- end page-wrapper -->
                </div><!-- end blog-list -->
            </div><!-- end col -->

        
